pipeline/12_Get_FileCount.json
{
	"name": "12_Get_FileCount",
	"properties": {
		"description": "https://www.youtube.com/watch?v=AzSyPqnS9OU&list=PLMWaZteqtEaLacN3eS3s8pw2jtwBVb1BH&index=12&ab_channel=WafaStudies",
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureBlobCSV",
						"type": "DatasetReference",
						"parameters": {
							"ds_v_Blob_Container": "azurecontainer",
							"ds_v_Blob_Directory": "Input",
							"ds_v_Blob_File": {
								"value": "@pipeline().parameters.pFiles",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vFileCount",
					"value": {
						"value": "@string(length(activity('Get Metadata1').output.childItems))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('vFileCount'),16)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pFiles": {
				"type": "string"
			}
		},
		"variables": {
			"vFileCount": {
				"type": "String"
			}
		},
		"folder": {
			"name": "RealTIme"
		},
		"annotations": []
	}
}