pipeline/4_DeleteOldFile.json
{
	"name": "4_DeleteOldFile",
	"properties": {
		"description": "4. Delete old files from storage using Azure Data Factory\n\nhttps://www.youtube.com/watch?v=2yIznWN3wow&list=PLMWaZteqtEaLacN3eS3s8pw2jtwBVb1BH&index=3&ab_channel=WafaStudies",
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureBlobCSV",
						"type": "DatasetReference",
						"parameters": {
							"ds_v_Blob_Container": "azurecontainer",
							"ds_v_Blob_Directory": "Output",
							"ds_v_Blob_File": {
								"value": "@pipeline().parameters.pl_v_Blob_File",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"modifiedDatetimeEnd": {
							"value": "@adddays(utcnow(),-31)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "AzureBlobCSV",
									"type": "DatasetReference",
									"parameters": {
										"ds_v_Blob_Container": "azurecontainer",
										"ds_v_Blob_Directory": "Output",
										"ds_v_Blob_File": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage",
										"type": "LinkedServiceReference"
									},
									"path": "azurecontainer/Logs"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pl_v_Blob_File": {
				"type": "string"
			}
		},
		"folder": {
			"name": "RealTIme"
		},
		"annotations": []
	}
}