pipeline/pipeline_cache_sink_to_activity.json
{
	"name": "pipeline_cache_sink_to_activity",
	"properties": {
		"activities": [
			{
				"name": "dataflow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow_cache_sink_to_activity",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source1": {
								"ds_v_Blob_Container": "azurecontainer",
								"ds_v_Blob_Directory": "Input",
								"ds_v_Blob_File": "employees.csv"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "dataflow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MaxSalVar",
					"value": {
						"value": "@string(activity('dataflow1').output.runStatus.output.sink1.value[0].MaxSal)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"MaxSalVar": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-04-07T15:34:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}